<section>
    
    <!-- NOTE: Adding the custom links to the asides/recent_posts.html for now as Octopress doesn't seem to pick up my default custom/asides/home.html template set in _config.yml -->
    <a href="http://itunes.apple.com/us/podcast/the-food-fight-show/id495577922#"><img src="/images/itunes.png" alt="Subscribe with iTunes" /></a>
    <a href="http://feeds.feedburner.com/TheFoodFightShow"><img src="/images/feed_rss.png" alt="Subscribe with RSS" /></a>    
    <a href="https://twitter.com/#!/foodfightshow"><img src="/images/feed_twitter.png" alt="Subscribe with iTunes" /></a>
    <a href="http://flattr.com/thing/733271/foodfightshow-on-Flattr"><img src="/images/support-with-flattr_button.png" alt="Support with Flattr" /></a>
    <a href="http://bit.ly/ffsmail"><img src="/images/subscribe-to-newsletter_button.png" alt="Subscribe to Newsletter" /></a>

    <h1>Newsletter Archives</h1>
    <ul>
      <li><a href="http://eepurl.com/vD8rT">Issue 4</a></li>
      <li><a href="http://eepurl.com/u5VRL">Issue 3</a></li>
      <li><a href="http://eepurl.com/uhCC1">Issue 2</a></li>
      <li><a href="http://eepurl.com/tGEI1">Issue 1</a></li>
    </ul>
    
    <h1>DevOps Links</h1>

    <ul>
    <li><a href="http://github.com/foodfight">FoodFightShow on Github</a></li>
    <li><a href="http://devopsweekly.com/">DevOps Weekly Newsletter</a></li>
    <li><a href="http://devopscafe.org/">DevOps Cafe</a></li>
    <li><a href="http://jedi.be/">Patrick DeBois, the Godfather of DevOps</a></li>
    <li><a href="http://dev2ops.org/">http://dev2ops.org</a></li>
    </ul>
    
    <a href="http://wiki.opscode.com/" title="Chef Wiki at Opscode."><img src="/images/OC_Chef_Logo.png" /></a>
    
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
