// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
div#content, div#main {background:#fff;}
.floatright {float:right; margin:0 0 1em 1em;}
.floatleft {float:left; margin:0 1em 1em 0;}
.clearboth {clear:both;}